# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Risk Game/Debug/Risk Game.tlog/unsuccessfulbuild
*.idb
*.pdb
*.tlog
*.log
*.opensdf
*.sdf
*.ilk
*.sdf
*.suo
Debug/Risk Game.ilk
